<div id="top"></div>
<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
              <h1><a href="#">SingularDev</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon">
              <a href="#"><span>Menu</span></a>
            </li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul id="nav" class="right">
                <li>
                    <a href="#top">Home</a>
                </li>

                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#contact">Contact Us</a>
                </li>
            </ul>

        </section>
    </nav>
</div>
<section class="jumbo">
    <div class="row">
        <div class="large-12 columns">
            <h1>Problem Solving At Your Fingertips</h1>
            <p class="text-center">
                <!--a href="http://epickwebdesign.com" class="medium button">Simple Button</a-->
            </p>

        </div>
    </div>
</section>

<section id="about">
    <div class="row">
        <div class="small-12 large-12 columns">
            <div class="text-center">
                <h2>Welcome to our site!</h2>
                <p>Morbi auctor lacinia mi nec suscipit. Vivamus eget dui dignissim, fermentum leo nec, suscipit nunc. Etiam feugiat lacinia sapien, lacinia hendrerit orci fermentum vitae. Quisque posuere vitae elit vitae ornare. Praesent ornare quam id. Morbi auctor lacinia mi nec suscipit. Vivamus eget dui dignissim, fermentum leo nec, suscipit nunc. Etiam feugiat lacinia sapien, lacinia hendrerit orci fermentum vitae. Quisque posuere vitae elit vitae ornare. Praesent ornare quam id.</p>
            </div>
            <div>
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                    <li>
                        <%= image_tag("image1.jpg")%>
                        <h3 class="text-center">Heading 1</h3>
                        <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
                    </li>
                    <li>
                        <%= image_tag("image2.jpg")%>
                        <h3 class="text-center">Heading 2</h3>
                        <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
                    </li>
                    <li>
                        <%= image_tag("image3.jpg")%>
                        <h3 class="text-center">Heading 3</h3>
                        <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="row">
        <div class="large-12 columns">
            <h2>Our Recent Work</h2>
            <h4 class="text-center">Some of the best work we have done.</h4>
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
                <li><%= image_tag("port1.png",class: "th")%></li>
                <li><%= image_tag("port2.png",class: "th")%></li>
                <li><%= image_tag("port3.png",class: "th")%></li>
                <li><%= image_tag("port4.png",class: "th")%></li>
                <li><%= image_tag("port5.png",class: "th")%></li>
                <li><%= image_tag("port6.png",class: "th")%></li>
                <li><%= image_tag("port7.png",class: "th")%></li>
                <li><%= image_tag("port8.png",class: "th")%> </li>
            </ul>
        </div>
    </div>
</section>

<footer>
    <div id="contact">
        <div class="row">
            <div class="large-12 columns">

                <div>
                    <ul class="small-block-grid-1 large-block-grid-4">
                        <li>
                            <h3>Heading 1</h3>
                            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.</p>
                        </li>
                        <li>
                            <h3>Heading 2</h3>
                            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.</p>
                        </li>
                        <li>
                            <h3>Heading 3</h3>
                            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi.</p>
                        </li>
                        <li>
                            <h3>Heading 4</h3>
                            <ul>
                                <li>
                                    <i class="fi-telephone"></i>Mercury - 016 3177 489
                                </li>
                                <li>
                                    <i class="fi-home"></i>WK Lim - 017 3678 308</li>
                                <li>
                                    <i class="fi-mail"></i>KH Lee - 016 9738 159
                                </li>
                            </ul>
                            <%= image_tag("map.png")%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="row">
            <div class="large-12 columns">
                <div class="large-4 pull-1 columns text-center">
                    <p>&copy; Copyright Singular Dev <%= Time.now.year%></p>
                </div>
                <div class="large-7 push-2 columns text-center">
                    <!-- Please Leave this link out of respect for the designer -->
                    <p>Designed By:
                        <a href="http://epickwebdesign.com">EPick Web Design</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

